
// Singularity
singularity.enabled =       true
singularity.autoMounts =    true

// conda
conda.enabled =             true

// Data input
params {

    // Data ingestion
    ref_alignment =         'RefAlignment.fasta'
    shiver_init_dir =       './PRRSV_shiver_init'
    samplesheet =           './test/test.csv'
    data_dir =              './test'
}