
// Singularity
singularity.enabled =       false
singularity.autoMounts =    false

// Docker
docker.enabled = true


// conda
conda.enabled =             true

process {
    maxForks = 4
}

// Data input
params {
    // Data ingestion
    adapters =              'examples/Twist_adapters.fa'
    ref_alignment =         'examples/PRRSV_ref_genomes.fasta'
    
    //shiver_init_dir =       './PRRSV_shiver_init'
    samplesheet =           './test/test.csv'
    data_dir =              './test'

    // Shiver config    - TODO: build this from NF config file
    //                  - TODO: allow amplicon primer input
    //                  - Check the parameters in this as the default will not always be appropriate 
    //                    for your dataset!
    shiver_config = "${projectDir}/shiver_config.sh"

    stop_after_contig_alignment = false
    use_raw_refs = false
}